# folders and files
/vendor
/bin
/runtime
composer.phar
.DS_Store
.env
/docker/.env
/.env

# project config
/configs/env-local-db.php
/configs/env.php
/configs/env-local-assets.php

# SASS & GULP
/resources/.sass-cache
/resources/local/
/resources/**/scss/*.css
/resources-block/**/scss/*.css

#IDE: emacs
*~

#IDE: netbeans
/nbproject

#IDE: PHPStorm
.idea/

#IDE: eclipse
.buildpath
.project
.settings
