.site-header {
    &--big {
        background-size: cover;
        min-height: 500px;
        position: relative;
        border-top: 1px solid #000;
        border-top: 1px solid rgba(0,0,0,.4);
    }
}

.site-header-content {
    &--big {
        margin-top: 10%;
        &__subtitle {
            text-align: center;
        }
        &__location-name {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.site-header-bottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
