.navigation-block {
    background-color: #333;
    background-color: rgba(0,0,0,.4);
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255,255,255,.4);
    color: #fff;
    padding: 1em 0;
    text-transform: uppercase;

    &--sticky {
	background-color: #fff;
	color: #000;
	border-top: none;
	border-bottom: 1px solid #000;
	border-bottom: 1px solid rgba(0,0,0,.4);
	box-shadow: 2px 0 5px rgba(0,0,0,.4);
    }
    
    &__list {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
    }
    
    &__list-item {
	margin: 0;
	padding: 0 .8em;
    }
    
    &__link {
	text-decoration: none;
    }
    
    &__link:link,
    &__link:visited,
    &__link:active {
	color: #fff;
    }

    &__link:hover {
	opacity: .4;
    }
    
    &--sticky__link:link,
    &--sticky__link:visited,
    &--sticky__link:active {
	color: #000;
    }
}
