@import '../../../resources/scss/variables';

.fb-albums-block {
    &__image {
        display: block;
        width: 100%;
        height: 250px;
        background-size: cover;
        border: 1px solid #ddd;
        margin: 2rem 0;

        @media (min-width: $break-small) {
            height: 150px;
        }

        @media (min-width: $break-big) {
            height: 250px;
        }
    }
}
